{% extends "base.html" %}
{% block title %}Add Recipe{% endblock %}

{% block html_head %}

{% endblock %}

{% block content %}

<h1>New Recipe</h1>

<form action="{{ url_for("add_recipe")}}" method="post">

<table>
  <tr>
    <td>
      <label for="name">Recipe Name:</label>
    </td>
    <td>
      <input required type="text" id="name" name="name" placeholder="Sourdough">
    </td>
  </tr>
  <td>
    <label for="yield">Loaves:</label>
  </td>
  <td>
    <input required type="number" id="yield" name="yield" placeholder="2">
  </td>
</table>

<p>Enter all values grams. If an ingredient is not needed, input 0.</p>

<table>
  <tr>
    <th>Ingredient</th>
    <th>Mass in g</th>
  </tr>

  {% for item in ['AP Flour', 'WW Flour', 'Rye Flour', 'Water', 'Salt', 'Yeast', 'Starter'] %}

  <tr>
    <td><label for="{{item}}_weight">{{item}}:</label></td>
    <td><input required type="number" id="{{item}}_weight" name="{{item}}" placeholder="500"></td>
  </tr>

  {% endfor %}
</table>

<button type="submit">Add!</button>

{% endblock %}