{% extends "base.html" %}
{% block title %}{{content["name"]}}{% endblock %}

{% block html_head %}

{% endblock %}

{% block content %}

    <h1>{{content["name"]}} Recipe</h1>


    <p>Number of loaves: {{content['quantity']}}</p>

    <table>
      <tr>
        <th>Ingredient</th>
        <th>Grams</th>
      </tr>
        {% for item in content['ingredients'] %}
      <tr>
        <td>{{ item.title() }}</td>
        <td>{{ content['ingredients'][item] }}</td>
      </tr>
        {% endfor %}
    </table>

    <input type="button" onclick="location.href='/recipes/{{_id}}/delete'" value=Delete />


{% endblock %}